GITHUB_WEBHOOK_SECRET=6a6ef448993fc80b2d4919b70dd59d830d8264258f456a9d952404662f96297c
GITHUB_ACCESS_TOKEN=your_token_here
HUGGINGFACE_API_TOKEN=your_key_here
SUPABASE_URL=https://dxbpjnqgaheshkfvhwuj.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR4YnBqbnFnYWhlc2hrZnZod3VqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQwODMxNTQsImV4cCI6MjA4OTY1OTE1NH0.c1j61dLcYKIJOxWfyCoCTQ-iBP9rNw0WEu4j69DNZqo
